<script src="https://unpkg.com/vue"></script>

<style>
  table {
    border: 2px #0e0 solid;
  }

  th {
    cursor: pointer;
    background-color: #0a0;
    width: 150px;
    padding: 5px;
    color: #ddd;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

  th.active {
    color: #fff;
  }

  th.active > i {
    border-color: #fff;
  }

  td {
    padding: 8px;
    background-color: #eee;
  }

  i {
    border: solid #ddd;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0 5px 0 5px;
  }

  i.asc {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  i.desc {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
</style>

<div id='main'>
  <label>Search</label>
  <input type='text' v-model='searchQuery'>
  <table>
    <thead>
      <tr>
        <th v-for='col in columns'
            :key='col.type'
            :class='{active: sortType === col.type}'
            @click='sortBy(col.type)'>{{col.title}}<i :class='sortOrders[col.type] === 1 ? "asc" : "desc"'></i></th>
      </tr>
    </thead>

    <tbody>
      <tr v-for='data in filteredDatas' :key='data.id'>
        <td v-for='col in columns' :key=col.type>{{data[col.type]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  new Vue({
    el: '#main',
    data: () => {
      const columns = [
        {title: 'Name', type: 'name'},
        {title: 'Power', type: 'power'}
      ];
      const sortOrders = columns.reduce((orders, col) => {
        orders[col.type] = 1;
        return orders;
      }, {});

      return {
        columns,
        sortOrders,
        sortType: '',
        searchQuery: '',
        datas: [
          { id: 0, name: 'Chuck Norris', power: Infinity },
          { id: 1, name: 'Bruce Lee', power: 9000 },
          { id: 2, name: 'Jackie Chan', power: 7000 },
          { id: 3, name: 'Jet Li', power: 8000 }
        ]
      };
    },
    methods: {
      sortBy(type) {
        this.sortType = type;
        this.sortOrders[this.sortType] *= -1;
      }
    },
    computed: {
      filteredDatas() {
        const searchQuery = this.searchQuery.toLowerCase();
        const sortType = this.sortType;
        const filteredDatas = this.datas.filter(data => data.name.toLowerCase().includes(searchQuery));

        if (sortType) {
          filteredDatas.sort((a, b) => {
            a = a[sortType];
            b = b[sortType];

            return (a < b ? -1 : (a > b ? 1 : 0)) * this.sortOrders[sortType];
          });
        }

        return filteredDatas;
      }
    }
  });
</script>