<script src="https://unpkg.com/vue"></script>

<style>

</style>

<div id='main'>
  <label>Search</label>
  <input type='text' v-model='searchQuery'>
  <table>
    <thead>
      <tr>
        <th v-for='col in columns' :key='col.type' @click='sortBy(col.type)'>{{col.title}}</th>
      </tr>
    </thead>

    <tbody>
      <tr v-for='data in filteredDatas' :key='data.id'>
        <td v-for='col in columns' :key=col.type>{{data[col.type]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  new Vue({
    el: '#main',
    data: () => {
      const columns = [
        {title: 'Name', type: 'name'},
        {title: 'Power', type: 'power'}
      ];
      const sortOrders = columns.reduce((orders, col) => {
        orders[col.type] = 1;
        return orders;
      }, {});

      return {
        columns,
        sortOrders,
        sortType: '',
        searchQuery: '',
        datas: [
          { id: 0, name: 'Chuck Norris', power: Infinity },
          { id: 1, name: 'Bruce Lee', power: 9000 },
          { id: 2, name: 'Jackie Chan', power: 7000 },
          { id: 3, name: 'Jet Li', power: 8000 }
        ]
      };
    },
    methods: {
      sortBy(type) {
        this.sortType = type;
        this.sortOrders[this.sortType] *= -1;
      }
    },
    computed: {
      filteredDatas() {
        const searchQuery = this.searchQuery.toLowerCase();
        const sortType = this.sortType;
        const filteredDatas = this.datas.filter(data => data.name.toLowerCase().includes(searchQuery));

        if (sortType) {
          filteredDatas.sort((a, b) => {
            a = a[sortType];
            b = b[sortType];

            return (a < b ? -1 : (a > b ? 1 : 0)) * this.sortOrders[sortType];
          });
        }

        return filteredDatas;
      }
    }
  });
</script>